<!DOCTYPE html>
<html>

<head>
  <title>German To English Dictionary</title>
  <script src="js/index.js"></script>
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <span id="notif">Copied!</span>
  <input id="txtSearch" type="text" value="<%= keyword %>" onkeypress="lib.search(this, event)">
  <% if (translation.base) { %>
    <h3>Base forms: </h3>
    <ul>
      <% translation.base.forEach(function(base) { %>
        <li>
          <a href="/?q=<%= base %>">
            <%= base %>
          </a>
        </li>
        <% }); %>
    </ul>
  <% } %>

  <% if (translation.subst) { %>
    <%- include('part', { name: 'subst' , data: mapDataEn(translation.subst), onclick: 'lib.onPartClick' }) %>
  <% } %>

  <% if (translation.verb) { %>
    <%- include('part', { name: 'verb' , data: mapDataEn(translation.verb), onclick: 'lib.onPartClick' }) %>
  <% } %>

  <% if (translation.adjadv) { %>
    <%- include('part', { name: 'adjadv' , data: mapDataEn(translation.adjadv), onclick: 'lib.onPartClick' }) %>
  <% } %>

  <% if (translation.praep) { %>
    <%- include('part', { name: 'praep' , data: mapDataEn(translation.praep), onclick: 'lib.onPartClick' }) %>
  <% } %>

  <% if (translation.definition) { %>
    <%- include('part', { name: 'definition' , data: mapDataEn(translation.definition), onclick: 'lib.onPartClick' }) %>
  <% } %>

  <% if (translation.phrase) { %>
    <%- include('part', { name: 'phrase' , data: mapDataDe(translation.phrase), onclick: 'lib.onPartClick' }) %>
  <% } %>

  <% if (translation.example) { %>
    <%- include('part', { name: 'example' , data: mapDataDe(translation.example), onclick: 'lib.onExampleClick' }) %>
  <% } %>
</body>

</html>
