<!DOCTYPE html>
<html>

<head>
  <title>German To English Dictionary</title>
  <script src="js/index.js"></script>
  <link rel="stylesheet" href="style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inter:200,300&display=swap" rel="stylesheet">
</head>

<body>
  <span id="notif">Copied!</span>
  <input translate="no" id="txtSearch" type="text" value="<%= keyword %>" onkeypress="lib.search(this, event)">
  <% if (translation.base) { %>
    <%- include('links', { title: 'Base forms' , links: translation.base }) %>
  <% } %>

  <% if (translation.phrase) { %>
    <%- include('part', { name: 'Phrases / Collocations' , data: mapDataDe(translation.phrase), onclick: 'lib.onPartClick', translate: false }) %>
  <% } %>

  <% if (translation.subst) { %>
    <%- include('part', { name: 'Nouns' , data: mapDataEn(translation.subst), onclick: 'lib.onPartClick', translate: true }) %>
  <% } %>

  <% if (translation.verb) { %>
    <%- include('part', { name: 'Verbs' , data: mapDataEn(translation.verb), onclick: 'lib.onPartClick', translate: true }) %>
  <% } %>

  <% if (translation.adjadv) { %>
    <%- include('part', { name: 'Adjectives / Adverbs' , data: mapDataEn(translation.adjadv), onclick: 'lib.onPartClick', translate: true }) %>
  <% } %>

  <% if (translation.praep) { %>
    <%- include('part', { name: 'Prepositions / Pronouns' , data: mapDataEn(translation.praep), onclick: 'lib.onPartClick', translate: true }) %>
  <% } %>

  <% if (translation.definition) { %>
    <%- include('part', { name: 'Definitions' , data: mapDataEn(translation.definition), onclick: 'lib.onPartClick', translate: true }) %>
  <% } %>

  <% if (translation.example) { %>
    <%- include('part', { name: 'Examples' , data: mapDataDe(translation.example), onclick: 'lib.onExampleClick', translate: false }) %>
  <% } %>

  <% if (translation.sim) { %>
    <%- include('links', { title: 'Similar words' , links: translation.sim }) %>
  <% } %>
</body>

</html>
