<h4><%= name  %></h4>
<ul translate="<%= translate ? 'yes' : 'no'%>">
<% data.forEach(function(row) { %>
    <li>
        <a class="noclick" onclick="<%= onclick %>(this)" title="<%= row.title.join(', ') %>">
            <%- row.text.map(function(t) { return '<span>' + t.replace(/\[([^\]]+)\]/g, '<span class="bracketed">[$1]</span>') + '</span>'; }).join(' &ndash; ') %>
        </a>
    </li>
<% }); %>
</ul>
